<!doctype html>
{% extends 'page.html' %}
{% load static %}

{% block title %}Добавление расхода (чека){% endblock %}

{% block page_title %}
<a class="btn btn-outline-dark" href="{% url 'party:detail' party_id %}">
    <i class="bi bi-box-arrow-in-left"></i>
</a>
Добавление расхода (чека)
{% endblock %}

{% block page_main %}
    <div class="row">
        <div class="col-lg-8">

            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}

                <button class="btn btn-success mt-2" type="submit">Сохранить</button>
            </form>

        </div>
    </div>
{% endblock %}
