<!doctype html>
{% extends 'page.html' %}
{% load static %}
{% load cache %}

{% block title %}{{ party.name }}{% endblock %}

{% block page_title %}
<a class="btn btn-outline-dark" href="{% url 'party:list' %}">
    <i class="bi bi-box-arrow-in-left"></i>
</a>
{{ party.name }}
{% endblock %}

{% block page_active %}
    <div class="col-auto">
        {% if party.creator_id == user.id %}
            <a class="btn btn-outline-primary" href="{% url 'party:update' party.id %}">
                <i class="bi bi-pencil-square"></i>
                Редактировать компанию
            </a>
        {% endif %}
        <a class="btn btn-outline-success" href="{% url 'party:add_transaction' party.id %}">
            <i class="bi bi-plus-square"></i>
            Добавить транзакцию (перевод)
        </a>
        <a class="btn btn-outline-success" href="{% url 'party:add_payment' party.id %}">
            <i class="bi bi-plus-square"></i>
            Добавить расход (чек)
        </a>
    </div>
{% endblock %}

{% block page_main %}
{% cache 10 party_info party.id request.user.username %}
    <div class="row">
        <div class="col-lg-7">
            <div class="table-responsive">
                <table class="table table-hover caption-top">
                    <caption>Расходы (чеки)</caption>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Спонсор</th>
                      <th scope="col">Коммент</th>
                      <th scope="col">Сумма</th>
                      <th scope="col">Остаток</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for p in party.payments.all %}
                        <tr class="table-secondary {% if p.unknown_debt_price > 0 %}table-danger{% else %}table-success{% endif %}">
                          <th scope="row">{{ p.id }}</th>
                          <td >{{ p.sponsor }}</td>
                          <td>{{ p.comment|default:"" }}</td>
                          <td>{{ p.price }}</td>
                          <td class="col-1">{{ p.unknown_debt_price }}</td>
                          <td class="text-end">
                              <a href="{% url 'party:add_payment_debt' party.id p.id %}"
                                 class="btn btn-sm btn-outline-secondary">
                                  <i class="bi bi-plus-square"></i>
                                  Раскидать
                              </a>
                          </td>
                        </tr>

                          {% if p.debts.count %}
                            <tr>
                                <td colspan="6">
                                    <table class="table table-hover table-sm mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">v</th>
                                                <th scope="col">Должник</th>
                                                <th scope="col">Сумма из чека</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for d in p.debts.all %}
                                            <tr>
                                                <th class="col-1" scope="row">></th>
                                                <td class="col-4">{{ d.debtor }}</td>
                                                <td class="col-4">{{ d.price }}</td>
                                                <td class="text-end">
                                                  <a href="{% url 'party:send_debt' party.id d.id %}"
                                                     class="btn btn-sm btn-outline-secondary">
                                                      <i class="bi bi-cash-stack"></i>
                                                      Перевести
                                                  </a>
                                                </td>
                                            </tr>
                                          </tbody>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="table-responsive">
                <table class="table table-hover caption-top">
                    <caption>Долги</caption>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Кто должен</th>
                      <th scope="col">Кому должен</th>
                      <th scope="col">Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in party.get_debts.items %}
                        <tr>
                          <th scope="row">#</th>
                          <td>{{ key.0 }}</td>
                          <td>{{ key.1 }}</td>
                          <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-hover caption-top">
                    <caption>Баланс</caption>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Имя</th>
                      <th scope="col">Баланс</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for m, value in party.get_debt_by_members %}
                        <tr class="{% if value < 0 %}table-danger{% elif value == 0 %}table-light{% else %}table-success{% endif %}">
                          <th scope="row">{{ m.id }}</th>
                          <td>{{ m }}</td>
                          <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-hover caption-top">
                    <caption>Транзакции (переводы)</caption>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Кто</th>
                      <th scope="col">Кому</th>
                      <th scope="col">Коммент</th>
                      <th scope="col">Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for t in party.transactions.all %}
                        <tr class="table-info">
                          <th scope="row">{{ t.id }}</th>
                          <td >{{ t.sender }}</td>
                          <td>{{ t.recipient }}</td>
                          <td>{{ t.comment|default:"" }}</td>
                          <td>{{ t.value }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endcache %}
{% endblock %}
