<!doctype html>
{% extends 'page.html' %}
{% load static %}

{% block title %}Редактирование{% endblock %}

{% block page_title %}
<a class="btn btn-outline-dark" href="{% url 'party:detail' party.id %}">
    <i class="bi bi-box-arrow-in-left"></i>
</a>
Редактирование: {{ party.name }}
{% endblock %}
{% block page_main %}
    <div class="row">
        <div class="col-lg-8">

            <form method="post" action="{% url 'party:update' party.id %}">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}

            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>

        </div>
    </div>
{% endblock %}
