<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block html_style %}h-100{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'style/css/sign.css' %}">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block body_style %}text-center{% endblock %}
{% block main_style %}w-100{% endblock %}
{% block main %}
    <div class="form-signin border">
        <form method="post" action="{% url 'account:signin' %}">
            {% csrf_token %}
            <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <i class="bi bi-person-circle" style="font-size: 2rem"></i>
            <h1 class="h3 mb-3 fw-normal">Войти в долговую яму</h1>
            {{ form }}

            <!-- <div class="checkbox mb-3"> -->
              <!-- <label> -->
                <!-- <input type="checkbox" value="remember-me"> Remember me -->
              <!-- </label> -->
            <!-- </div> -->
            <button class="btn btn-lg btn-success w-100 my-2" type="submit">Войти</button>
            <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
        </form>
    </div>

    <div class="form-sign-info mt-5 border">
       <p class="login-callout mt-3">В первый раз? <a href="{% url 'account:signup' %}">Создать аккаунт</a></p>
    </div>
{% endblock %}
