<!doctype html>
<html lang="ru" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="icon" href="../static/style/icons/receipt.svg">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/style/css/sign.css">

    <title>Вход</title>
  </head>

  <body class="text-center">
    
    <main class="w-100">

      <div class="form-signin border">
        <form>

          <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          <i class="bi bi-person-circle" style="font-size: 2rem"></i>
          <h1 class="h3 mb-3 fw-normal">Войти в долговую яму</h1>

          <label for="inputEmail" class="visually-hidden">Ник</label>
          <input type="email" id="inputEmail" class="form-control my-2" placeholder="Ник" required>

          <label for="inputPassword" class="visually-hidden">Пароль</label>
          <input type="password" id="inputPassword" class="form-control my-2" placeholder="Пароль" required>
          <!-- <div class="checkbox mb-3"> -->
            <!-- <label> -->
              <!-- <input type="checkbox" value="remember-me"> Remember me -->
            <!-- </label> -->
          <!-- </div> -->
          <button class="btn btn-lg btn-success w-100 my-2" type="submit">Войти</button>
          <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
        </form>
      </div>

      <div class="form-sign-info mt-5 border">
         <p class="login-callout mt-3">В первый раз? <a href="">Создать аккаунт</a></p>
      </div>

    </main>
    
  </body>
</html>
