<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block html_style %}h-100{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'style/css/home.css' %}">
{% endblock %}

{% block title %}Party Check{% endblock %}

{% block body_style %}d-flex flex-column h-100 w-100 bg-dark text-white{% endblock %}
{% block main_style %}my-auto text-center{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block main %}
  <h1>"Кому и сколько ?"</h1>
  <p class="lead">
    Лёгкий способ расчитать кто кому сколько должен по всем чекам твоей компашки за вечер.
  </p>
  <p class="lead">
    <a class="btn btn-secondary" href="">Вогнать всех в долги</a>
  </p>
{% endblock %}

{% block footer %}Разработано <a class="text-decoration-none text-white">@orumaxon</a>{% endblock %}
