<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid text-center">
    <a class="navbar-brand fw-bold" href="/">
      <i class="bi bi-receipt"></i>
      Party Check
    </a>

      <div class="navbar-collapse collapse" id="navbarsExample03">

          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Что это ?</a>
              </li>
          </ul>

          <!--
          <form>
            <input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
          </form> -->

          <ul class="navbar-nav">
              {% if user.is_authenticated %}

                  <li class="nav-item">
                      <div class="dropdown">
                          <a href="#" class="nav-link d-block link-dark text-decoration-none dropdown-toggle"
                             id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ user.username }}
                              <i class="bi bi-person-circle"></i>
{#                            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">#}
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownUser1"
                              style="inset: auto 0px auto auto">
                              <li><a class="dropdown-item" href="{% url 'party:groups' %}">Долги</a></li>
                              <li><a class="dropdown-item" href="{% url 'account:detail' user.id %}">Профиль</a></li>
                              <li><a class="dropdown-item" href="#">Настройки</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{% url 'account:signout' %}">Выйти</a></li>
                          </ul>
                        </div>
                  </li>

              {% else %}
                  <li class="nav-item px-sm-2 py-2 py-sm-0">
                      <a class="nav-link btn btn-sm btn-outline-success text-white" href="{% url 'account:signin' %}">Вход</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn btn-sm btn-success text-white" href="{% url 'account:signup' %}">Регистрация</a>
                  </li>
              {% endif %}
          </ul>
      </div>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>